div {
    width: 800px;
    height: 500px;
    border: grey 10px;
    position: absolute;
    left: 20%;
    right: 20%;
    top: 10%;
    background-color: green;
}

div {
    background-image: 
    url(../images/pole-zelen-trava-dom-derevya.jpg),
    url(../images/green-png-44873.png),
    url(../images/lamp-png-34914.png), 
    url(../images/Hedgehog.png), 
    url(../images/pon.png);
    background-size: 400px 260px, 200px 150px, 40px 70px, 40px 40px, 40px 40px;
    background-position: center, bottom, top, left, right;
    background-repeat: no-repeat, repeat-x, repeat-x, repeat-y, repeat-y;
    
}

